POSTGRES_USER=
POSTGRES_PASSWORD=

SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

GRAFANA_ADMIN_PASSWORD=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
BEDROCK_AGENT_ID=
BEDROCK_AGENT_ALIAS_ID=
BEDROCK_KB_ID=
BEDROCK_S3VECTOR_BUCKET_ARN=

S3_BUCKET=shipment-logistics-catalog
BILLING_SQS_ENABLED=false
